.gripper{
	background-color: yellow;
}
.gripperControls{
	margin-left: 10px; 
	padding: 10px 10px 10px 10px;
}
.positionProtocols{
	margin-left: 10px; 
	padding: 10px 10px 10px 10px;
}
.txtbutton{
	background-color: yellow;
	margin-left: 23px;
	margin-top: 10px;
	width: 60px;
	height: 20px;
	border-radius: 5px;
}
.txtbox{
	background-color: black;
	color: white;
	margin: 5px 28px 10px;
	width: 50px;
}
.whiteText{
	color: white;
}
.hints{
	color: gray;
}
div.degree-indicator{
	font-size: medium;
	font-style: italic bold;
	font-family: "Arial", monospace;
}
#tracker-map{
	width: 200px;
	height: 200px;
}
#slide-base .slider-selection, #slide-shlds .slider-selection, #slide-elbow .slider-selection, #slide-wrist .slider-selection{
	background: DeepSkyBlue; /*color of the selected portion of slide*/
}
#slide-base .slider-track-high, #slide-shlds .slider-track-high, #slide-elbow .slider-track-high, #slide-wrist .slider-track-high{
	background: black; /*color of the unselected portion of slide*/
}
div.scrollbar{
	background-color: transparent;
	width: 13px;
	height: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-left: 0;
}
.force-overflow { /*was for scrollbar, will deprecate*/
	min-height: 455px;
}
.backing { /*Translucent Background*/
    border: 1px solid #777;
    border-left: transparent;
    border-right: transparent;
    border-radius: 5px;
    background: #F4F4F4;
    opacity: 0.75;
}
.darkbacking { /*Translucent Background*/
    border: 1px solid red;
    border-top: transparent;
    border-bottom: transparent;
    border-radius: 5px;
    background: #000000;
    opacity: 0.85;
}
.controlCanvas{
	width: 1050px; 
	height: 100px;
	padding: 5px 40px 100px; 
	margin:50px;
	/*left: 110px; 
	top: 381px;*/
}
/*Button CSS*/
button.protocolPreset{
	background-color: black;
	color: white;
}
button.button-inactive{
	background-color: gray;
}
button.button-active{
	background-color: DeepSkyBlue;
}
button.motorButton{
	text-transform: uppercase;
}
button.std{
	font-size: medium;
	font-weight: 500;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
}
button.nonstd{
	font-size: medium;
	font-weight: 500;
    width: 80px;
    height: 30px;
    margin-top: 1px;
    border-radius: 5px;
    border: 1px;
}
button.examination{
	font-size: medium;
	font-weight: 600;
    width: 75px;
    height: 38px;
    margin-top: 1px;
    border-radius: 20px;
}