html {
font: 100%/1.3 Verdana, Helvetica, Arial, sans-serif;
}
body {
font: 70%/1.3 Verdana, Helvetica, Arial, sans-serif;
}
/*h1 {
font: bold 2em Arial, sans-serif;
}*/
h2 {
font: bold 1.5em Arial, sans-serif;
}
h3 {
font: bold 1.25em Arial, sans-serif;
}
h4 {
font: bold 1.1em Arial, sans-serif;
}
/* Default resetting */
html, body, form, fieldset, legend, dt, dd {
margin: 0;
padding: 0;
}
h2, h3, h4, h5, h6, p, ul, ol, dl {
margin: 0 0 1em;
padding: 0;
}
h2, h3, h4, h5, h6 {
margin-bottom: 0.5em;
}
/*not under here*/
h2 {
margin-top: 20px;
}
pre {
font-size: 1.5em;
}
li, dd {
margin-left: 1.5em;
}
img {
border: none;
vertical-align: middle;
}
/* Basic element styles */
a {
color: #000;
}
a:hover {
text-decoration: underline;
}
html {
color: #000;
background: darkgrey;
min-height: 100%;
/*  background:url(http://fc08.deviantart.net/fs70/f/2012/245/3/c/mars_rover__curiosity_dual_monitor_3840x1080_by_foxgguy2001-d5dd0xn.png) #A98436 no-repeat left top;
  background-size: 100%;
  height: 100%;
  background-size: cover*/
;}
body {
margin-bottom: 30px;
}
ul {
margin: 10px 0;
}
/* Structure */
.container {
width: 560px;
min-height: 600px;
background: #fff;
border: 1px solid #ccc;
border-top: none;
margin: 20px auto;
padding: 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 1px 1px 10px #000;
-webkit-box-shadow: 1px 1px 5px #000;
box-shadow: 1px 1px 10px #000;
}
@media screen and (max-width: 320px) {
#container {
width: 280px;
padding: 10px;
}
}
video {
display: block;
margin-bottom: 10px;
}
/* Fullscreen */
html:-moz-full-screen {
/*background: red;*/
  background:url(http://hdwallpaperfun.com/wp-content/uploads/2014/08/Outer-Space-Wallpaper-Background-HQ.jpg) #A98436 no-repeat left top;
  background-size: 100%;
  background-size: cover;
}
html:-webkit-full-screen {
/*background: red;*/
  background:url(http://hdwallpaperfun.com/wp-content/uploads/2014/08/Outer-Space-Wallpaper-Background-HQ.jpg) #A98436 no-repeat left top;
  background-size: 100%;
  background-size: cover;
}
html:-ms-fullscreen {
/*background: red;
width: 100%;  needed to center contents in IE */
  background:url(http://hdwallpaperfun.com/wp-content/uploads/2014/08/Outer-Space-Wallpaper-Background-HQ.jpg) #A98436 no-repeat left top;
  background-size: 100%;
  background-size: cover;
}
html:fullscreen {
/*background: red;*/
  background:url(http://hdwallpaperfun.com/wp-content/uploads/2014/08/Outer-Space-Wallpaper-Background-HQ.jpg) #A98436 no-repeat left top;
  background-size: 100%;
  background-size: cover;
}


