#ut-animation-canvas {
    left: 0;
    position: absolute;
    top: 0;
    z-index: inherit;
}
#vanilla_discussion_index {
    background: none repeat scroll 0 0 rgba(11, 41, 61, 0.6);
    color: #0ff;
    font-family: "Electrolize",Arial,Helvetica,sans-serif;
    font-size: 110%;
    font-weight: bold;
    padding: 11px 19px 9px;
    text-shadow: 0 0 20px #00c2ff;
    text-transform: uppercase;
}

body {
  background: url('../images/gridbg.png') repeat top fixed;
  background: url('../images/gridbg.png') repeat top fixed, url('../images/noisebg.gif') repeat top;
  background-color: #0B0C0C;
  min-width: 480px;
  color: #FFF;
}
#Body {
  margin: 0;
  width: 99.9%;
  position: relative;
}
#Body {
  zoom: 1;
}
#Frame {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body > #Frame > .Head {
   padding: 16px 3px 3px;
}
#Panel {
   width: 200px;
   float: left;
}
/*#Panel {
    float: none;
    width: 100%;
}*/
#Content {
  width: 100%;
  max-width: 1140px;
  margin: 40px auto;
  float: none;
}
#Content .content-block1 {
  background: url(../images/black-trans80.png);
  background: rgba(0, 0, 0, 0.7);
  padding-top: 30px;
}
.content-block1 {
  border: 1px solid #0d1f2c;
  padding: 49px;
  border-top-color: #286e80;
  position: relative;
}
#forum-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-image: url(../images/spacebg.png);
}
#mainnav {
	/*background: url(../images/mainnavbg_fallback.gif) repeat x top;*/
	background: url(../images/mainnavtopglow.png) repeat-x top,
				url(../images/mainnavbottomglow.png) repeat-x bottom,
				url(../images/mainnavglow.png) repeat-x top,
				url(../images/mainnavbg.gif) repeat center -4px;
	width:100%;
	min-height: 102px;
	border-bottom: solid 6px #000305;
	overflow: hidden;
	position: fixed;
}
.toplightbar {
  background: url(../images/lightbars.gif) repeat-x top;
  background: url(../images/lightbargrooves.png) no-repeat top,
  			  url(../images/lightbars.gif) repeat-x top;
  border-bottom: solid 1px #112535;
  margin-bottom: 65px;
}
.lightbar {
  width: 100%;
  height: 28px;
  position: relative;
  z-index: 0;
}
.lightbarlights {
  background: url(../images/lightbarlights.png) repeat-x top;
  position: absolute;
  width: 100%;
  height: 258px;
  z-index: 2;
}
.footershadow {
  background: url(../images/headershadow.png) repeat-x top;
  width: 100%;
  height: 34px;
  position: absolute;
  top: 29px;
}
.wrapper {
	width: auto;
	min-width: 120px;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 30px;
}
#footer {
  /*background: url(../images/footertop.png) repeat-x top;*/
  background: url(../images/footerglow.png) no-repeat center 4px,
			  url(../images/footertop.png) repeat-x top;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
