/*@import "reset.css";*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Reference for adding open source font - http://stackoverflow.com/questions/107936/how-to-add-some-non-standard-font-to-a-website*/
/*Retreived from FONTENNIUM - http://moorstation.org/fontennium/scitec/scitec.htm
 *               1001FREEFONTS - http://www.1001freefonts.com/sci-fi-fonts-20.php*/
@font-face {
  font-family: "Alien";
  src: url('../fonts/alien.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/*---HEADER---*/
#mainnav {
  /*background: url(../images/mainnavbg_fallback.gif) repeat x top;*/
  background: url(../images/mainnavtopglow.png) repeat-x top,
        url(../images/mainnavbottomglow.png) repeat-x bottom,
        url(../images/mainnavglow.png) repeat-x top,
        url(../images/mainnavbg.gif) repeat center -4px;
  width:100%;
  min-height: 102px;
  border-bottom: solid 6px #000305;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 13px;
}
.navgroup-container > li {
  width: 101px;
  height: 102px;
  display: block;
  float: right;
  position: relative;
}
.toplightbar {
  background: url(../images/lightbars.gif) repeat-x top;
  background: url(../images/lightbargrooves.png) no-repeat top,
          url(../images/lightbars.gif) repeat-x top;
  border-bottom: solid 1px #112535;
  margin-bottom: 65px;
}
.lightbar {
  width: 100%;
  height: 28px;
  position: relative;
  z-index: 0;
}
.lightbarlights {
  background: url(../images/lightbarlights.png) repeat-x top;
  position: absolute;
  width: 100%;
  height: 258px;
  z-index: 2;
}
.footershadow {
  background: url(../images/headershadow.png) repeat-x top;
  width: 100%;
  height: 34px;
  position: absolute;
  top: 29px;
}
/*---CONTENT---*/
#Panel {
   width: 200px;
   float: left;
}
/*#Panel {
    float: none;
    width: 100%;
}*/
#Content {
  width: 100%;
  max-width: 1140px;
  margin: 40px auto;
  float: none;
}
#Content .content-block1 {
  background: url(../images/black-trans80.png);
  background: rgba(0, 0, 0, 0.7);
  padding-top: 30px;
}
.content-block1 {
  border: 1px solid #0d1f2c;
  padding: 49px;
  border-top-color: #286e80;
  position: relative;
}
#map {
  height: 250px;
  width: 250px;
  margin: 0;
  padding: 0;
}
.space {
    font-family: "Alien";
    letter-spacing: 5px;
    font-size: 48px;
    margin-bottom: 0;
}
#forum-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-image: url(../images/spacebg.png);
}
/*html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #5fce2e;
  background:url(../images/spacebg.png) #A98436 no-repeat left top;
  background-size: 100%;
  background-size: cover;
  background-color: black;
}*/
div.horizontal {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: static;
}
div.horizontal .table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
div.horizontal .table > section {
  width: 1600px;
  height: 100%;
  display: table-cell;
  background: #e3e3e3;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
}
body {
  /*background: url('../images/gridbg.png') repeat top fixed;*/
  background: url('../images/gridbg.png') repeat top fixed, url('../images/noisebg.gif') repeat top;
  background-color: #0B0C0C;
  min-width: 480px;
  color: #FFF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
p {
  color: #00e7ff;
  text-shadow: 0 0 25px #006DB6;
}
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  /*font-family: 'Alien', sans-serif;*/
}
h1 {
  font-size: 54px;
  line-height: 72px;
  font-weight: normal;
}
h2 {
  font-size: 36px;
  line-height: 48px;
}
#section1 {
  height: 100%;
  width: 100%;
}
#section2 {
  background: #FFF;
}
#section3 {
  background: transparent; 
}
#section4 {

}
div.wrap {
  width: 500px;
  height: 500px;
  background: #FFF;
  margin: 0 auto;
}
div.wrap .row {
  overflow: hidden;
}
div.wrap header .column {
  background: #f1f1f1;
  height: 80px;
  margin: 10px;
  line-height: 80px;
}
div.wrap section .column {
  float: left;
  background: #f1f1f1;
  height: 390px;
  padding-top: 20px;
}
div.wrap section .column:first-child {
  width: 285px;
  margin-left: 10px;
}
div.wrap section .column:last-child {
  width: 185px;
  margin-left: 10px;
}
div.overflow {
  height: 100%;
  overflow: auto;
}
.longbox {
  height: 2000px;
  background: #FFF;
  width: 500px;
  margin: 0 auto;
  padding: 120px 24px 0px;
  text-align: left;
}
img {
  max-width: 100%;
}
nav {
  position: fixed;
  z-index: 9999;
  left: 0px;
  bottom: 0px;
}
a.forward,
a.backward {
  color: #FFF;
/*  background: #414141;
  display: block;
  width: 100px;
  float: left;
  text-align: center;
  text-decoration: none;
  height: 60px;
  line-height: 60px;*/
}
/*nav.section1 a.backward {
  display: none;
}
nav.section4 a.forward {
  display: none;
}
*/