@font-face {
  font-family: "Alien";
  src: url('../fonts/alien.ttf') format('truetype');
}
.space {
    font-family: "Alien";
    letter-spacing: 5px;
    font-size: 48px;
    margin-bottom: 0;
}
p, h3, h2, h1, span {
    color: #00e7ff;
    text-shadow: 0 0 25px #006DB6;
}
#chartdiv {
  width  : 10%;
  height : 500px;
}
#chartdiv2 {
  width   : 50%;
  height    : 500px;
}


.spinner {
  width: 55px;
  display:inline-table;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}