div.indicator {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: gray;
	display: inline-block;
	margin-right: 10px;
	margin-left: 30px;
}
div.entities h3 {
	display:inline-block;
}
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -5;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-image: url(../images/space-wallpapers-3.jpg);
}
#div.input_control {
	line-height:34px; 
	margin: 2px 0 20px;
}
p, h4, h3, h2, h1, span {
    color: #7CBACF;
    text-shadow: 0px 0px 25px #006DB6;
}
p {
  font-size: 30px;
  color: #70DBFF;
}
.motor > button {
  margin-top: 12px;
  margin-bottom: 8px;
}
.motor > button.OFF {
    background: gray;
}
.motor > button.ON {
    opacity: 0.7;
    background: green;
}
button, #log {
  box-shadow: 0px 0px 15px #99E6FF;
}
textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}